.form-group {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.form-group > * {
	margin-bottom: 2rem;
	width: 100%;
}

.alert {
	padding: 2rem;
	background-color: $alert-red;
	border-radius: 2px;
	color: white;
	box-sizing: border-box;
}
